:root {
  background-color: #001219;
}

.sun {
  height: 120px;
  width: 120px;
  background-image: radial-gradient(#f09819, #ff512f);
  border-radius: 50%;
  box-shadow: 4px 2px 56px orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Mercury {
  height: 20px;
  width: 20px;
  background-image: linear-gradient(#504e51, #97979f, #ceccd1, #b5a7a7);
  border-radius: 50%;
  position: absolute;
  top: 44%;
  left: 44%;
  transform: translate(-50%, -50%);
  animation: orbit1 5s linear infinite;
}
@keyframes orbit1 {
  from {
    transform: rotate(0deg) translateX(75px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(75px) rotate(-360deg);
  }
}
.Mercury-Orbit,
.Venus-Orbit,
.Earth-Orbit,
.Mars-Orbit,
.Jupiter-Orbit,
.Saturn-Orbit,
.Uranus-Orbit,
.Neptune-Orbit {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 1px dotted #ddd9;
}
.Mercury-Orbit {
  height: 150px;
  width: 150px;
}
.Venus {
  border-radius: 50%;
  width: 29px;
  height: 29px;
  background-image: linear-gradient(#8b91a1, #bbb7ab, #ddd8d4, #efefef);
  position: absolute;
  top: 43%;
  left: 43%;
  transform: translate(-50%, -50%);
  animation: orbit2 9s linear infinite;
}
@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateX(105px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(105px) rotate(-360deg);
  }
}
.Venus-Orbit {
  height: 210px;
  width: 210px;
}
.Earth {
  height: 34px;
  width: 34px;
  background-image: linear-gradient(#4d67b1, #3356b8, #0a2263, #0044ff);
  border-radius: 50%;
  position: relative;
  top: 44%;
  left: 44%;
  transform: translate(-50%, -50%);
  animation: orbit3 13s linear infinite;
}
@keyframes orbit3 {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}
.Earth-Orbit {
  height: 300px;
  width: 300px;
}
.Moon-Orbit {
  height: 46px;
  width: 46px;
  border-radius: 40px;
  border: 0.8px dotted #ddd9;
  position: relative;
  top: -20%;
  background: transparent;
  left: -20%;
}
.Moon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: -4px 2px 26px white;
  position: absolute;
  left: 42%;
  top: 42%;
  transform: translate(-50%, -50%);
  animation: orbit-M 4s linear infinite;
}
@keyframes orbit-M {
  from {
    transform: rotate(0deg) translateX(24px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(24px) rotate(-360deg);
  }
}
.Mars {
  height: 23px;
  width: 23px;
  background-image: linear-gradient(
    #99857a,
    #c67b5c,
    #e27b58,
    #ff9d6f,
    #663926,
    #8e6a5a
  );
  border-radius: 50%;
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-50%, -50%);
  animation: orbit4 15s linear infinite;
}
@keyframes orbit4 {
  from {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}
.Mars-Orbit {
  height: 400px;
  width: 400px;
}
.Jupiter {
  height: 43px;
  width: 43px;
  background-image: linear-gradient(
    #404436,
    #a79c86,
    #d2cfda,
    #d39c7e,
    #90614d,
    #c88b3a
  );
  border-radius: 50%;
  position: absolute;
  top: 46%;
  left: 46%;
  transform: translate(-50%, -50%);
  animation: orbit5 20s linear infinite;
}
@keyframes orbit5 {
  from {
    transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}
.Jupiter-Orbit {
  height: 500px;
  width: 500px;
}
.Saturn {
  height: 43px;
  width: 43px;
  background-image: linear-gradient(#343e47, #7b7869, #a49b72, #c3a171);
  border-radius: 50%;
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-50%, -50%);
  animation: orbit6 30s linear infinite;
}
@keyframes orbit6 {
  from {
    transform: rotate(0deg) translateX(315px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(315px) rotate(-360deg);
  }
}
.Saturn-Orbit {
  height: 630px;
  width: 630px;
}
.Saturn-ring {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  border: 3.5px double #ddd9;
  position: relative;
  top: -14%;
  left: -14%;
  background: transparent;
}
.Uranus {
  height: 39.5px;
  width: 39.5px;
  background-image: linear-gradient(#d5fbfc, #bbe1e4, #93b8be, #65868b);
  border-radius: 50%;
  position: absolute;
  top: 47.5%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  animation: orbit7 40s linear infinite;
}
@keyframes orbit7 {
  from {
    transform: rotate(0deg) translateX(375px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(375px) rotate(-360deg);
  }
}
.Uranus-Orbit {
  height: 750px;
  width: 750px;
}
.Neptune {
  height: 38px;
  width: 38px;
  background-image: linear-gradient(
    #212354,
    #3e54e8,
    #3e66f9,
    #6081ff,
    #89f3ff
  );
  border-radius: 50%;
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
  animation: orbit8 50s linear infinite;
}
@keyframes orbit8 {
  from {
    transform: rotate(0deg) translateX(421px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(421px) rotate(-360deg);
  }
}
.Neptune-Orbit {
  height: 840px;
  width: 840px;
}
